
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&amp;display=swap');


 body {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	color: #888;
	margin: 0px;
	padding: 0px;
	background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);	
	/* background-color: black; */
	/* background: #edf3f4; */
}
h1, h2, h3, h4, h5, h6 {
    color: white;
	margin: 0px;
	padding: 0px;
}
 p {
	font-size: 13px;
	line-height: 22px;
	color:white;
}
img {
	height: auto;
	max-width: 100%;
}
ul, ol {
    list-style: outside none none;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    transform-style: preserve-3d;
}
a {
    text-decoration:none !important;
    color:cyan;
    transition-duration: 0.4s;
}
a:hover {
    transition-duration: 0.4s;
    color:white;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
.btn-primary, .btn-primary:hover{
	background: #2f2b35;
	border-color: #2f2b35;
}

.siteHeaderMain .siteHeader{
	z-index: 999;
	height: 130px;
	padding: 0;
	/* background: #2f2b35; */
	/* background: black; */
	font-size: 13px;
	line-height: 28px;
}
.siteHeaderMain .siteHeader .logoText{
	padding-top: 35px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	display: block;
}
.siteHeaderMain .mainMenu {
	margin-top: 35px;
}
.siteHeaderMain .mainMenu ul li a{
	color: #fff;
	border-radius: 0px;
}
.siteHeaderMain .mainMenu ul li a.active, .siteHeaderMain .mainMenu ul li a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-bottom:-2px;
	background: none;
}

.searchArea{
	padding-top: 30px;
	padding-bottom: 15px;
	background: #fff;
}
.searchArea .mb-3{
	position: relative;
}
.searchArea .select-arrow {
	position: absolute;
	top: 0;
	right: 25px;
	color: #2f2b35;
	line-height: 34px;
}
.searchArea .form-control {
	position: relative;
	border: none;
	border-radius: 4px;
	background: #edf3f4;
	box-shadow: none;
	font-size: 12px;
	line-height: 20px;
}
.searchArea .btn {
	border-color: #2f2b35;
	color: #ffffff;
	background: #2f2b35;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.section-padding{
	padding: 60px 0px;
}
.sectionHeading{
	font-size: 28px;
	font-weight: bold;
	color: #2f2b35;
	margin-bottom: 30px;
	line-height: normal;
}

.starRating i{
	color: #ffbb11;
	cursor: pointer;
}
footer.section-footer{
	padding: 80px 0 70px;
	text-align: center;
}
.footer-menu-wrap {
	display: inline-block;
	text-align: center;
}
.footer-menu-wrap .navbar-nav > li {
	float: left;
}
.footer-menu-wrap ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
}
.loadBtn{
	background: #2f2b35;
	border: 0px none;
	color: #fff;
	border: 50px;
}
.loadBtn:hover{
	opacity: 0.9;
	background: #2f2b35;
}
.main-content-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.inputGrey{
	border: 1px solid #dddddd;
	border: none;
	border-radius: 3px;
	background: #edf3f4;
}
.loginForm, .registerForm{
	border: 1px solid #d3ced2;
	padding: 20px;
	margin: 2em 0;
	text-align: left;
	border-radius: 5px;
}
.border-bottom {
  border-bottom: 1px solid #eeeeee !important;
}
.divide-or-line{
	display: flex;
	flex-direction: row;
 }   
 .divide-or-line:before, .divide-or-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #000;
	margin: auto;
}
.formRegister label.form-label{
	margin-bottom: 0px;
}
.formRegister a.forgotLink{
	color: #2f2b35;
}
.grey-bg{
	background: #edf3f4;
}
.white-bg{
	background: #fff;
}
.addBookWapper label.form-label{
	margin-bottom: 0px;
}
.bookISBN {
	padding-right: 60px;
	position: relative;
}
.bookISBN .codeArea {
	position: absolute;
	right: 0px;
	top: 25px;
}
label.form-label .required {
	color: red;
	font-weight: 700;
}
.bookAuthorArea {
	margin-top: 0px;
	height: auto;
	overflow: hidden;
}
.titleBook{
	color: #2f2b35;
	font-size: 22px;
	font-weight: bold;
}
.bookAuthorArea span {
	padding: 5px 12px;
	color: #2f2b35;
	font-size: 14px;
	margin: 2px;
	border-left: 1px solid #999FAE;
	display: inline-block;
}
.bookAuthorArea span:first-child{
	padding-left: 0px;
	border-left: 0px none;
}
.starRating i{
	color: #ffbb11;
	cursor: pointer;
}
.bookCoverImages{
	margin: 15px 0px;
}
.bookCoverImages .bookImg{
	display: inline-block;
	height: 200px;
	width: 150px;
	overflow: hidden;
	margin: 0px 10px 10px 0px;
}
.bookCoverImages .bookImg img{
	object-fit: cover;
	height: 200px;
	width: 150px;
}
.availBookUsers {
	margin: 20px 0px;
}
.availBookUsers .userBookBox{
	border: 1px solid #ccc;
	padding: 5px; 
	position: relative;
	min-height: 120px;
	padding-left: 130px;
	margin-bottom: 15px;
}
.availBookUsers .userBookBox .userImg{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100px;
	height: 115px;
}
.availBookUsers .userBookBox .userImg img{
	position:absolute;
	left: 0px;
	top: 0px;
	object-fit: cover;
	height: 118px;
	width: 118px;
}
.availBookUsers .userBookBox h3{
	font-size: 16px;
}
.availBookUsers .userBookBox .addressUser{
	font-size: 14px;
}
.availBookUsers .userBookBox .bookCondition{
	font-size: 14px;
}
.availBookUsers .userBookBox .requestBtn a{
	font-size: 12px;
	font-weight: 500;
	margin-top: 10px;
}

.reviewListing .profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 30px;
}
.reviewBox{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.reviewBox .review-part{
	position: relative;
	padding-left: 100px;
}
.reviewBox .review-part-left{
	width: 80px;
	height: 80px;
	border: 1px solid #ccc;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
.reviewBox .review-part-left img{
	height: 80px;
	width: 80px;
	object-fit: cover;
}
.reviewBox .bookAuthorArea span {
	padding-top:0px;
	padding-bottom:0px;	
	color: #888;
	line-height: 14px;
	font-size: 12px;
}
.reviewBox .reviewText{
	font-size: 14px;
	line-height: normal;
	margin-top: 6px;
}

.border-right {
  border-right: 1px solid #eae8e4 !important;
}
.border-bottom {
  border-bottom: 1px solid #eae8e4 !important;
}
.accountLeftmenu h6{
	padding-top: 3rem !important;
	margin-bottom: 3rem !important;
	font-size: 2rem;
	font-weight: 500;
}
.accountLeftmenu ul{
	margin-bottom: 50px;
}
.accountLeftmenu ul.nav li a i{
	width: 25px;
	font-size: 18px;
}
.accountLeftmenu ul.nav li a.nav-link{
	margin-bottom: 10px;
	color: #7f7f83 !important;
	font-weight: 600;
}
.accountLeftmenu ul.nav li a.nav-link.active, .accountLeftmenu ul.nav li a.nav-link.active:hover{
	background: #2f2b35;
	color: #fff !important;
}
.accountLeftmenu ul.nav li a.nav-link:hover{
	background: #f2f2f2;
	color: #7f7f83 !important;
}
.accountRightSide{
	margin-bottom: 80px;
	min-height: 450px;
}
.accountRightSide h6{
	padding-top: 3rem !important;
	margin-bottom: 3rem !important;
	font-size: 2rem;
	font-weight: 500;
}
.accountRightSide .subTitle{
	margin-bottom: 1.5rem !important;
	font-size: 1.5rem;
	font-weight: 500;
	color: #333;
}
.accountRightSide .form-label{
	color: #333;
	font-weight: 500;
	margin-bottom: 0px;
}
.accountRightSide .form-label em{
	color: red;
}
.bookCoverArea{
	height: 80px;
	width: 60px;
	object-fit: cover;
}
.bookCoverArea img {
	height: 80px;
    width: 60px;
}

/* Responsiveness */
@media (max-width : 360px) {
	.horizontal-bar {
		display: none;
	}
}
@media (min-width: 360px) {
    .mainMenu{
        max-height: none;
        top: 0;
        position: relative;
        width: fit-content;
        background-color: transparent;
    }
	
	.blog-div {
		margin-left: 5vw;
		margin-top: 5em;
	}
} 
.error {
	color:red;
}