
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&amp;display=swap');


 body {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	color: #888;
	margin: 0px;
	padding: 0px;
	background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);	
	/* background-color: black; */
	/* background: #edf3f4; */
}
h1, h2, h3, h4, h5, h6 {
    color: white;
	margin: 0px;
	padding: 0px;
}
 p {
	font-size: 13px;
	line-height: 22px;
	color:white;
}
img {
	height: auto;
	max-width: 100%;
}
ul, ol {
    list-style: outside none none;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    transform-style: preserve-3d;
}
a {
    text-decoration:none !important;
    color:cyan;
    transition-duration: 0.4s;
}
a:hover {
    transition-duration: 0.4s;
    color:white;
}
a, a:hover {
    text-decoration: none;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
.btn-primary, .btn-primary:hover{
	background: #2f2b35;
	border-color: #2f2b35;
}

.siteHeaderMain .siteHeader{
	z-index: 999;
	height: 130px;
	padding: 0;
	/* background: #2f2b35; */
	/* background: black; */
	font-size: 13px;
	line-height: 28px;
}
.siteHeaderMain .siteHeader .logoText{
	padding-top: 35px;
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 38px;
	display: block;
}
.siteHeaderMain .mainMenu {
	margin-top: 35px;
}
.siteHeaderMain .mainMenu ul li a{
	color: #fff;
	border-radius: 0px;
}
.siteHeaderMain .mainMenu ul li a.active, .siteHeaderMain .mainMenu ul li a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-bottom:-2px;
	background: none;
}

.section-padding{
	padding: 60px 0px;
}
.sectionHeading{
	font-size: 28px;
	font-weight: bold;
	color: #2f2b35;
	margin-bottom: 30px;
	line-height: normal;
}

.starRating i{
	color: #ffbb11;
	cursor: pointer;
}
footer.section-footer{
	padding: 80px 0 70px;
	text-align: center;
}
.footer-menu-wrap {
	display: inline-block;
	text-align: center;
}
.footer-menu-wrap .navbar-nav > li {
	float: left;
}
.footer-menu-wrap ul li a {
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
}
.loadBtn{
	background: #2f2b35;
	border: 0px none;
	color: #fff;
	border: 50px;
}
.loadBtn:hover{
	opacity: 0.9;
	background: #2f2b35;
}
.main-content-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.inputGrey{
	border: 1px solid #dddddd;
	border: none;
	border-radius: 3px;
	background: #edf3f4;
}
.loginForm, .registerForm{
	border: 1px solid #d3ced2;
	padding: 20px;
	margin: 2em 0;
	text-align: left;
	border-radius: 5px;
}
.border-bottom {
  border-bottom: 1px solid #eeeeee !important;
}
.divide-or-line{
	display: flex;
	flex-direction: row;
 }   
 .divide-or-line:before, .divide-or-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 2px solid #000;
	margin: auto;
}
.formRegister label.form-label{
	margin-bottom: 0px;
}
.formRegister a.forgotLink{
	color: #2f2b35;
}
.grey-bg{
	background: #edf3f4;
}
.white-bg{
	background: #fff;
}
label.form-label .required {
	color: red;
	font-weight: 700;
}


/* Responsiveness */
@media (max-width : 360px) {
	.horizontal-bar {
		display: none;
	}
}
@media (min-width: 360px) {
    .mainMenu{
        max-height: none;
        top: 0;
        position: relative;
        width: fit-content;
        background-color: transparent;
    }
	
	.blog-div {
		margin-left: 5vw;
		margin-top: 5em;
	}
} 
.error {
	color:red;
}